In [1]:
import pandas as pd

In [2]:
# Load in the dataframe from project part 1 as basics:
df2000 = pd.read_csv('Data\\final_tmdb_data_2000.csv.gz', compression = 'gzip')

df2001 = pd.read_csv('Data\\final_tmdb_data_2001.csv.gz', compression = 'gzip')

In [3]:
df = pd.concat([df2000, df2001])

In [4]:
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.111,2302.0,PG

In [5]:
df['budget'].value_counts

<bound method IndexOpsMixin.value_counts of 0              NaN
1       10000000.0
2              0.0
3              0.0
4         150000.0
           ...
1344           0.0
1345           0.0
1346           0.0
1347           0.0
1348           0.0
Name: budget, Length: 2604, dtype: float64>

exclude any movies with 0's for budget AND revenue from the remaining visualizations.

In [6]:
# selecting rows based on condition
df = df[(df['budget'] > 0) &
		df['revenue'] > 0]

#### How many movies are there in each of the certification categories (G/PG/PG-13/R)
G: 13, 
PG: 30, 
PG-13: 117, 
R: 143

In [7]:
df['certification'].value_counts()

R        143
PG-13    117
PG        30
G         13
NR         8
Name: certification, dtype: int64

#### What is the average revenue per certification category?

$77,549,660

In [8]:
df.groupby('certification', as_index=False)['revenue'].mean()

  certification       revenue
0             G  1.332169e+08
1            NR  4.313393e+07
2            PG  1.291256e+08
3         PG-13  1.111018e+08
4             R  4.788424e+07

#### What is the average budget per certification category?

$33,921,943

In [9]:
df.groupby('certification', as_index=False)['budget'].mean()

  certification        budget
0             G  4.400000e+07
1            NR  2.371250e+07
2            PG  5.197491e+07
3         PG-13  4.662733e+07
4             R  2.547772e+07